<app-navbar></app-navbar>





<div class="container">
  <div class=".col-xs-4 .col-md-offset-2">
    <div class="panel panel-default panel-info Profile">
      <div class="panel-heading"> My Profile </div>
      <hr>
      <!-- <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Profile successfully saved
      </div>
      <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Oops!</strong> Profile not saved. Try later.
      </div> -->
      <div class="panel-body">
        <div class="form-horizontal">
					          
						            
							              <label class="col-sm-2 control-label">First Name     :   </label>

                           
              							<div class="col-sm-4">
                								<input class="form-control" type="text" name="firstName"
                  								 value="fghgfhg" ng-model="me.firstName">
              							</div>
            					
						            <div class="form-group">
							              <label class="col-sm-2 control-label">Last Name</label>
              							<div class="col-sm-4">
                								<input class="form-control" type="text" name="lastName"
                  									placeholder="Last Name" ng-model="me.lastName">
              							</div>
            						</div>
						            <div class="form-group">
              							<label class="col-sm-2 control-label">Email</label>
              							<div class="col-sm-4">
                								<input class="form-control" type="text" name="email"
                  									placeholder="Email" ng-model="me.email">
              							</div>
            						</div>
            <div class="form-group">
              							<label class="col-sm-2 control-label">Department</label>
              							<div class="col-sm-4">
                								<input class="form-control" type="text" name="department"
                  									placeholder="Department" ng-model="me.email">
              							</div>
            						</div>
            <div class="form-group">
              							<label class="col-sm-2 control-label">Title</label>
              							<div class="col-sm-4">
                								<input class="form-control" type="text" name="title"
                  									placeholder="Title" ng-model="me.email">
              							</div>
            						</div>
            <div class="form-group">
              							<label class="col-sm-2 control-label">Start Date</label>
              							<div class="col-sm-4">
                								<input class="form-control" type="text" name="startDate"
                  									placeholder="Start Date" ng-model="me.email">
              							</div>
            						</div>            
            <div class="form-group">
              							<label class="col-sm-2 control-label">Location</label>
              							<div class="col-sm-4">
                								<input class="form-control" type="text" name="location"
                  									placeholder="Location" ng-model="me.email">
              							</div>
            						</div>
            <div class="form-group">
              							<label class="col-sm-2 control-label">Phone</label>
              							<div class="col-sm-4">
                								<input class="form-control" type="text" name="phone"
                  									placeholder="xxx-xxx-xxxx" ng-model="me.email">
              							</div>
            						</div>          
						            <div class="form-group">
              							<div class="col-sm-offset-2 col-sm-10">
                								<button class="btn btn-primary" ng-click="updateMe()">Update</button>
              							</div>
            						</div>
					      
        				</div>  <!-- end form-horizontal -->
      </div> <!-- end panel-body -->

    </div> <!-- end panel -->
    

  </div> <!-- end size -->
</div> <!-- end container-fluid -->






















<div class="container">
  <div class="row profile">
  <div class="col-md-3">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <!-- <img src="https://gravatar.com/avatar/31b64e4876d603ce78e04102c67d6144?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" class="img-responsive" alt=""> -->
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          Jason Davis
        </div>
        <div class="profile-usertitle-job">
          Developer
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR BUTTONS -->
      <div class="profile-userbuttons">
        <button type="button" class="btn btn-success btn-sm">Follow</button>
        <button type="button" class="btn btn-danger btn-sm">Message</button>
      </div>
      <!-- END SIDEBAR BUTTONS -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul class="nav">
          <li class="active">
            <a href="#">
            <i class="glyphicon glyphicon-home"></i>
            Overview </a>
          </li>
          <li>
            <a href="https://codepen.io/jasondavis/pen/jVRwaG?editors=1000">
            <i class="glyphicon glyphicon-user"></i>
            Account Settings </a>
          </li>
          <li>
            <a href="#" target="_blank">
            <i class="glyphicon glyphicon-ok"></i>
            Tasks </a>
          </li>
          <li>
            <a href="#">
            <i class="glyphicon glyphicon-flag"></i>
            Help </a>
          </li>
        </ul>
      </div>
      <!-- END MENU -->
       
         <div class="portlet light bordered">
                                              <!-- STAT -->
                                              <div class="row list-separated profile-stat">
                                                  <div class="col-md-4 col-sm-4 col-xs-6">
                                                      <div class="uppercase profile-stat-title"> 37 </div>
                                                      <div class="uppercase profile-stat-text"> Projects </div>
                                                  </div>
                                                  <div class="col-md-4 col-sm-4 col-xs-6">
                                                      <div class="uppercase profile-stat-title"> 51 </div>
                                                      <div class="uppercase profile-stat-text"> Tasks </div>
                                                  </div>
                                                  <div class="col-md-4 col-sm-4 col-xs-6">
                                                      <div class="uppercase profile-stat-title"> 61 </div>
                                                      <div class="uppercase profile-stat-text"> Uploads </div>
                                                  </div>
                                              </div>
                                              <!-- END STAT -->
                                               <div>
                                                  <h4 class="profile-desc-title">About Jason Davis</h4>
                                                  <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                                                  <div class="margin-top-20 profile-desc-link">
                                                      <i class="fa fa-globe"></i>
                                                      <a href="https://www.apollowebstudio.com">apollowebstudio.com</a>
                                                  </div>
                                                  <div class="margin-top-20 profile-desc-link">
                                                      <i class="fa fa-twitter"></i>
                                                      <a href="https://www.twitter.com/jasondavisfl/">@jasondavisfl</a>
                                                  </div>
                                                  <div class="margin-top-20 profile-desc-link">
                                                      <i class="fa fa-facebook"></i>
                                                      <a href="https://www.facebook.com/">JasonDavisFL</a>
</div></div></div>                   
                                         
      

      
    </div>
  </div>
  <div class="col-md-9">
          <div class="profile-content">
      
          </div>
  </div>
</div>
</div>


<div id="user-profile-2" class="user-profile">
  <div class="tabbable">
    <ul class="nav nav-tabs padding-18">
     

    <div class="tab-content no-border padding-24">
      <div id="home" class="tab-pane in active">
        <div class="row">
          <div class="col-xs-12 col-sm-3 center">
            

            <div class="space space-4"></div>

            <!-- <a href="#" class="btn btn-sm btn-block btn-success">
              <i class="ace-icon fa fa-plus-circle bigger-120"></i>
              <span class="bigger-110">Add as a friend</span>
            </a>

            <a href="#" class="btn btn-sm btn-block btn-primary">
              <i class="ace-icon fa fa-envelope-o bigger-110"></i>
              <span class="bigger-110">Send a message</span>
            </a> -->
          </div><!-- /.col -->

          <div class="col-xs-12 col-sm-9">
            <h4 class="red">
              <span class="middle">John Doe</span>

              <span class="label label-purple arrowed-in-right">
                <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                online
              </span>
            </h4>

            <div class="profile-user-info">
              <div class="profile-info-row">
                <div class="profile-info-name"> Username </div>

                <div class="profile-info-value">
                  <span>alexdoe</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Location </div>

                <div class="profile-info-value">
                  <i class="fa fa-map-marker light-orange bigger-110"></i>
                  <span>Netherlands</span>
                  <span>Amsterdam</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Age </div>

                <div class="profile-info-value">
                  <span>38</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Joined </div>

                <div class="profile-info-value">
                  <span>2010/06/20</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Last Online </div>

                <div class="profile-info-value">
                  <span>3 hours ago</span>
                </div>
              </div>
            </div>

            <div class="hr hr-8 dotted"></div>

            

        <div class="space-20"></div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="widget-box transparent">
              <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                  <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                  Little About Me
                </h4>
              </div>

              <div class="widget-body">
                <div class="widget-main">
                  <p>
                    My job is mostly lorem ipsuming and dolor sit ameting as long as consectetur adipiscing elit.
                  </p>
                  <p>
                    Sometimes quisque commodo massa gets in the way and sed ipsum porttitor facilisis.
                  </p>
                  <p>
                    The best thing about my job is that vestibulum id ligula porta felis euismod and nullam quis risus eget urna mollis ornare.
                  </p>
                  <p>
                    Thanks for visiting my profile.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /#home -->

    